/* تكليف 01 */
.assign-1-shape-1{
    width: 500px;
    margin: 0 auto 10px  auto;
    padding: 20px;
    background-color: rgba(138, 44, 226);
}

.assign-1-shape-2{
    width: 500px;
    margin: 0 auto 10px  auto;
    padding: 20px;
    background-color: rgba(138, 44, 226, 0.50);
}

.assign-1-shape-3{
    width: 500px;
    margin: 0 auto 10px  auto;
    padding: 20px;
    background-color: rgba(138, 44, 226, 0.25);
}



/* التكليف 02 */
.assign-2-shape-1{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: no-repeat;
    /* background-color: azure; */
    background-position: center center;
    border: 2px dotted;
    

}
.assign-2-shape-2{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: repeat-y;
    background-position: center;
    border: 2px dotted;

}
.assign-2-shape-3{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: repeat-x;
    background-position: center;
    border: 2px dotted;

}
.assign-2-shape-4{
    height: 400px;
    width: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    border: 2px dotted;

}


 /* التكليف 03 */
 .assign-3-shape-1{
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    border: 2px solid;
 }
 .assign-3-shape-2{
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: right;
    border: 2px solid;
 }
 .assign-3-shape-3{
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: bottom;
    border: 2px solid;
 }
 .assign-3-shape-4{
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background-image: url('imges/images.jpeg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: right bottom;
    border: 2px solid;
 }


