/* 
CSS الدروس من 42 إلى 53
*/

 /* Lesson 42 - Transition */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.one{
   background-color: #eee;
   width: 200px;
   height: 100px;
   color: black;
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;

   transition-delay: 2s;
   transition-property: font-size, height, width, margin, border-radius ;
   transition-timing-function: ease;

}

.one:hover{
   margin: 10px;
   border-radius: 25px;
   width: 300px ;
   height: 200px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;

   background-color: aquamarine;
   align-content: center;
   font-weight: bold;
   font-size: xx-large;

}