/* 13 Groping Selectors */
.one, .two, .three, .four{
    height: 100px;
    margin: 10px;
    text-align: center;
    align-content: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
}

.one{
    background-color: blue;
    color: white;
    cursor: alias;
}

.two{
    background-color: blueviolet;
    color: white;
    cursor: all-scroll;
}

.three{
    background-color: brown;
    color: white;
    cursor: row-resize
}

.four{
    background-color: black;
    color: white;
    border: 5px solid white;
    cursor: col-resize;
}

/* 14 Nesting Selectors */
div p {
    color: red;
}


/* 15 Dimensions - width And height */
.lesson15{
    background-color: aliceblue;
}
.lesson15 div{
    /* display: inline; */
    background-color: brown;
    margin: 5px;
    width: fit-content;
    /* max-width: 300px; */
    /* min-width: 50px; */

    /* height: fit-content; */
    /* max-height: 10px; */
    min-height: 10px;
}


/* 16 Overflow - overflow-X And Overflow-Y */
.Overflow{
    background-color: #EEEEEE;
    color: red;
    width: 150px;
    height: 150px;
    overflow: auto;
}

/* Lessons 17 &  21 – Text  */
.text{
    margin: auto;
    border-radius: 25px;
    box-shadow: 0px 5px 10px blue;
    padding: 10px;
    height: 200px;
    /* text-align: center; */
    color: firebrick;
    text-shadow: 2px 0px 5px wheat;
    direction: ltr;
    /* text-decoration: underline; */
    text-transform: capitalize;
    /* letter-spacing: 10px; */
    /* word-spacing: 10px; */
    /* text-indent: 300px; */
    line-height: 30px;
    width: 400px;
    background-color: #EEEEEE;
    white-space: nowrap;
    /* word-break: break-word; */
    overflow: hidden;
    text-overflow: ellipsis;

}

.text img{
    vertical-align: middle;
}


/* Lessons 23 &  26 – Typography (font family - font size - font style) and Mouse Cursor */
.typography{
    text-align: center;
    /* font-family: 'Dancing Script'; */
    font-size: 5em;
    /* font-style: inherit; */
    font-variant: small-caps;
    /* font-weight: bold; */
    cursor: pointer;

}